<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thmyleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список всех учеников</title>
</head>
<body>
<h1>Ученики</h1>
<table>
    <thead>
    <tr>
        <th>Идентификатор ученика</th>
        <th>Фамилия ученика</th>
        <th>Имя ученика</th>
        <th>Отчество ученика</th>
        <th>День рождения</th>
        <th>Номер класса</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student: ${students}">
        <td><span th:text="${student.getId()}"></span></td>
        <td><span th:text="${student.getFirstName()}"></span></td>
        <td><span th:text="${student.getMiddleName()}"></span></td>
        <td><span th:text="${student.getLastName()}"></span></td>
        <td><span th:text="${student.getBirthday()}"></span></td>
        <td><a th:href="@{'/class/{numberOfClass}'(numberOfClass=${student.numberOfClass})}"> <span th:text="${student.getNumberOfClass()}"></span></a><td>
    </tr>
    </tbody>
</table>
</body>
</html>