<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thmyleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Страница учителя</title>
</head>
<body>
<h1>Учитель №<span th:text="${teacher.getId()}"></span></h1>
Фамилия: <span th:text="${teacher.getFirstName()}"></span><br>
Имя: <span th:text="${teacher.getMiddleName()}"></span><br>
Отчество: <span th:text="${teacher.getLastName()}"></span><br>
Дата рождения: <span th:text="${teacher.getBirthday()}"></span><br>
Классное руководство: <a th:href="@{'/class/{numberOfClass}'(numberOfClass=${teacher.numberOfClass})}"> <span th:text="${teacher.getNumberOfClass()}"></span></a><br>
Квалификация: <span th:text="${teacher.getCategory()}"></span><br>
</body>
</html>